h1 Login
if error
    div(style='color: red;') #{error}
form(action='/login' method='POST')
    div
        label(for='username') Username:
        input(type='text', id='username', name='username', required=true)
    div
        label(for='password') Password:
        input(type='password', id='password', name='password', required=true)
    button(type='submit') Login
a(href='/register') Register
